body { 
    width: 1200px;
    height: 2336px;
    margin: 0 auto;   
    background: #FFFFFF;
}

header {
    width: 1200px;
    height: 800px;
    background-image: url('../assets/desktop.png');
    margin:0 auto;
    
}

.biglogo {
    width: 63px;
    height: 63px;
    margin-left: 569px;
    margin-top: 250px;
    
}

h1 {
    margin-top: 6px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    color: #FFFFFF;
}

.afterh1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7)
}

.sectionfirst {
    width: 1200px;
    height: 700px;
    margin-top:-40px;
    background: #EEEEEE;
    
}

.secthead {
    margin: 0 auto;
    padding-top: 87px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    color: #464547;
}

.h3first {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: #666666;
}

.par {
    width: 983px;
    height: 194px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    text-align: center;
    color: #000000;
}

    .readmore {    
    margin: auto;
    display:block;
    padding: 5px 21px 5px 21px;
    background: #55C2D8;
    border-radius: 18px;
    border-style: none;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
/* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;    

}

.learnmore {
    background-image: url('../assets/learn-more.png');
    width: 1200px;
    height: 666px;
    margin:0 auto;
    margin-top: -40px;
}

.culture {
    padding-top: 84px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    letter-spacing: 0.12rem;
    color: #FFFFFF;
}

.ellipse {
    width: 150px;
    height: 150px;
    margin: auto;
    display:block;
}

/* .button9654 {
    position: relative;    
    height: 1px;
    width: 1px;
    font-size: 125px;
    background-color: #39C2D7;
    color: white;
    left: 567px;
    top: -158px;
    padding:0%;    
    border-style:none
    
} */

.triangle {
    position: relative;
    width: 55px;
    height: 70px;
    left: 576px;
    top: -110px;
}

.afterlearn {
    margin: 0 auto;
    margin-top: -65px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}


footer {
    width: 1200px;
    height: 170px;
    margin: 0 auto;
    background: #464547;
}

   
    .smalllogo {
        position: relative;
        left: 145px;
        top: 21px;
        width: 20px;
        height: 20px;
        
    }

.project {
    margin-left: 181px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
/* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.address1 {
    margin-left: 140px;
    padding-top: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   
    color: rgba(255, 255, 255, 0.4);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

